@use '../abstracts/' as *;
@use '../utilities/' as *;

.header {
	background-color: transparent;
	border-bottom: 3px solid $white;
	font-weight: 600;
	&--nav {
		display: grid;
		place-items: center;
		gap: 20px;
		align-items: center;
		height: 128px;
		@include mq(md) {
			grid-template-columns: 1fr auto 1fr;
			place-items: initial;
		}
	}
	&--list {
		visibility: hidden;
		display: flex;
		align-items: center;
		width: 100%;
		gap: 20px;
		font-size: rem(14px);
		&:nth-of-type(2) {
			justify-content: end;
		}
		@include mq(md) {
			visibility: visible;
		}
		@include mq(lg) {
			font-size: rem(16px);
		}
		@include mq(xxl) {
			gap: 50px;
		}
	}
	&--logo {
		margin-inline: auto;
		max-height: 78px;
		position: absolute;
		align-self: center;
		@include mq(md) {
			position: initial;
			max-height: 70px;
		}
		@include mq(lg) {
			max-height: 78px;
		}
	}
	&--logo-wrapper {
		margin-inline: auto;
		position: absolute;
		align-self: center;
		@include mq(md) {
			position: relative;
		}
		& img {
			position: relative;
		}
	}
	&--contact {
		display: flex !important;
		align-items: center;
		padding: 8px 12px !important;
	}
}
