@use '../abstracts/' as *;

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: $black;
	outline: none;
	border: 3px solid $white;
	border-radius: 0;
	padding: 11px;
	color: $white;
	width: inherit;

	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}
