.autoShow {
	animation: text-appear both;
	animation-timeline: view();
	animation-range: entry 20% cover 80vh;
}

@keyframes text-appear {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
