@use '../../utilities/' as *;
@use '../../abstracts/' as *;

.methodology {
	h3 {
		font-size: rem(28px);
		font-weight: 600;
		margin-bottom: 16px;
		@include mq(sm) {
			font-size: rem(32px);
		}
	}
	div > p {
		font-size: rem(16px);
		@include mq(sm) {
			font-size: rem(20px);
		}
	}
	ul {
		display: flex;
		margin-top: 25px;
		width: 100%;
		flex-direction: column;
		gap: 25px;
	}
	li {
		display: grid;
		grid-template-columns: 60px 1fr;
		align-items: center;
		gap: 11px;
		@include mq(sm) {
			grid-template-columns: 75px 1fr;
		}
		@include mq(sm) {
			gap: 22px;
		}
		& > p {
			-webkit-text-stroke-width: 1.5px;
			-webkit-text-stroke-color: $light-gray;
			font-size: rem(60px);
			font-weight: 900;
			color: $black;
			@include mq(sm) {
				font-size: rem(72px);
			}
		}
	}
}
