@use '../../abstracts' as *;
@use '../../utilities' as *;

.segments {
	p {
		text-align: center;
	}
	img {
		width: 60px;
		height: 63px;
	}
	.border {
		border: 5px solid $light-gray;
		padding: 8px;
	}
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		font-size: rem(16px);
		width: 120px;
		@include mq(lg) {
			font-size: rem(20px);
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 570px;
		gap: 25px 30px;
	}
}
