@use '../abstracts/' as *;
@use '../utilities/' as *;

.contact-us {
	padding-top: 55px;
	color: $black;
	.title {
		margin-bottom: 35px;
	}
	&--info {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		@include mq(lg) {
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-columns: 1fr calc((6px) + (2 * 36px)) 1fr;
		}
		p {
			font-size: rem(18px);
			text-align: center;
			justify-self: end;
			@include mq(lg) {
				text-align: left;
				text-wrap: balance;
				max-width: 445px;
				font-size: rem(24px);
			}
			@include mq(xl) {
				font-size: rem(28px);
			}
		}
	}
	svg {
		fill: $black;
		transform: scale(0.7);
		@include mq(lg) {
			transform: scale(1);
		}
	}
	hr {
		display: block;
		width: 100%;
		height: 6px;
		background: linear-gradient(180deg, #e2e2e2 0%, #050505 50%, #e2e2e2 100%);
		margin: 39px auto 0 auto;
		@include mq(lg) {
			width: 6px;
			min-height: 100%;
			margin: 0 36px 0 36px;
		}
	}
	&--contacts {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding-top: 39px;
		margin-left: 10px;
		@include mq(lg) {
			margin: 0;
			padding-bottom: 39px;
		}
		img {
			max-width: 25px;
			@include mq(sm) {
				max-width: 50px;
			}
		}
		a {
			font-size: rem(15px);
			@include mq(sm) {
				font-size: 18px;
			}
			@include mq(xl) {
				font-size: rem(22px);
			}
		}
		li {
			display: flex;
			gap: 6px;
			align-items: center;
			@include mq(sm) {
				gap: 15px;
			}
		}
	}
	form {
		padding: 50px 0 130px 0;
		width: min(680px, 95%);
		margin-inline: auto;
		label {
			display: inline-block;
			margin-bottom: 11px;
			font-size: rem(18px);
			@include mq(lg) {
				font-size: rem(22px);
			}
		}
		input {
			width: 100%;
			height: 57px;
		}
		textarea {
			width: 100%;
			resize: vertical;
			min-height: 150px;
		}
		button {
			width: 50%;
			margin-inline: auto;
			display: block;
			font-size: rem(22px);
			font-family: $default-font-family;
			font-weight: 700;
		}
	}
}
