@use '../abstracts/' as *;
@use '../utilities/' as *;

.cta {
	text-align: center;
	padding-block: 50px;
	.title {
		max-width: 20ch;
		display: inline-block;
		margin: 20px 0 32px 0;
	}
	&--desc {
		font-size: rem(20px);
	}
	a {
		font-family: $default-font-family;
		display: flex;
		align-items: center;
		width: fit-content;
		margin-inline: auto;
		margin-top: 37px;
		font-size: rem(20px);
		min-height: 50px;
		padding-inline: 23px;
		background-color: $dark-blue;
		color: $white;
		border: 3px solid $light-gray;
	}
}
