@use '../abstracts/' as *;
@use '../utilities/' as *;

.hero {
	padding: 50px 0 50px 0;
	// min-height: 400px;
	height: calc(100dvh - 128px);
	display: flex;
	align-items: center;
	&--container {
		position: relative;
		display: grid;
		@include mq(md) {
			grid-template-columns: 14ch 1fr;
			font-size: rem(35px);
		}
		@include mq(lg) {
			font-size: rem(40px);
		}
		@include mq(xl) {
			font-size: rem(48px);
		}
	}
	&--title {
		position: initial;
		text-align: center;
		font-size: rem(30px);
		@include mq(md) {
			text-align: initial;
			position: absolute;
			max-width: 14ch;
			font-size: rem(35px);
			top: 60px;
		}
		@include mq(lg) {
			font-size: rem(40px);
			top: 120px;
		}
		@include mq(xl) {
			font-size: rem(48px);
		}
	}
	&--img {
		display: none;
		@include mq(md) {
			display: block;
			max-height: 100%;
		}
		@include mq(xl) {
			max-width: 580px;
		}
		@include mq(xxl) {
			max-width: 640px;
		}

		justify-self: end;
		grid-column: 2;
	}
	&--highlight {
		// position: absolute;
		border-radius: 50%;
		border: 5px solid $dark-blue;
		width: fit-content;
		margin-inline: auto;
		transform: translateY(-5px);
		@include mq(md) {
			margin: 0;
		}
	}
}
