@use '../utilities/' as *;
@use '../abstracts/' as *;

.services {
	height: 100%;
	padding-bottom: 150px;
	@include mq(lg) {
		height: 770px;
		padding-bottom: 0;
	}
	padding-top: 40px;
	.title {
		margin-bottom: 40px;
	}
	nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20px;
		margin-bottom: 60px;
	}
	select {
		display: block;
		@include mq(lg) {
			display: none;
		}
	}
	ul {
		display: none;
		@include mq(lg) {
			display: flex;
		}
		margin-inline: auto;
		flex-wrap: wrap;
		width: 90%;
		row-gap: 20px;
		transform: translateX(73px);
	}
	li {
		cursor: pointer;
		color: $white-unfocused;
		@media only screen and (max-width: 990px) {
			flex: 1;
		}
		&.active {
			color: $white;
			img {
				filter: brightness(1);
			}
		}
		display: flex;
		flex: 0 0 33.3333%;
		align-items: center;
		gap: 10px;
		img {
			filter: brightness(0.5);
			width: 35px;
		}
	}

	&--content {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 70px;
		@include mq(lg) {
			text-align: left;
			display: grid;
			grid-template-columns: auto 70px 450px;
			flex-direction: row;
			gap: 0;
		}
		h2 {
			font-size: rem(40px);
			font-weight: 800;
			color: $blue;
			margin-bottom: 10px;
			text-wrap: balance;
		}
		p {
			font-size: rem(20px);
			text-wrap: balance;
		}
		img {
			display: block;
			@include mq(lg) {
				max-width: 450px;
			}
			grid-column: 3;
		}
	}
}
