@use '../abstracts/' as *;
@use '../utilities/' as *;

.header {
	background-color: transparent;
	border-bottom: 3px solid $white;
	&--nav {
		display: flex;
		height: 128px;
		justify-content: space-between;
	}
	&--list {
		display: none;
		@include mq(md) {
			display: flex;
			gap: 20px;
		}
		@include mq(lg) {
			gap: 50px;
		}
		align-items: center;
	}
	&--logo {
		margin-inline: auto;
		padding-block: 25px;
	}
	&--contact {
		display: flex;
		align-items: center;
	}
}
