@use '../utilities/' as *;

.header {
	--speed: -2;
	position: relative;
	z-index: 15;
}

.hero {
	z-index: 10;
}

.parallax > * {
	animation: parallax linear;
	animation-timeline: scroll();
}

@keyframes parallax {
	to {
		transform: translateY(calc(var(--speed) * 200px));
	}
}
