@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://db.onlinewebfonts.com/c/99501fdab737541e9315ceaf9229370f?family=Monument+Extended+Regular');

$font-size: 1.5rem;
$default-font-family: 'Montserrat';
$latim-font-family: 'Playfair Display';
$title-font-family: 'Monument Extended Regular';
